 .partnerlogo
{

 content: url(./resources/partnerLogo.jpg);
top:0;
  background: #fff;
  background-color: #fff; 
  height: 100%;
  width: 100%;
  
  	z-index: -1;
  position: absolute;
        top: 0%;
        right: 0%;
 
 
	justify-content: left;

}